{% extends 'government_employee/government_employee.html' %}

{% load static %}
{% block content %}

<div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="card-box bg-blue">
                    <div class="inner">
                        <center><h3> {{ ministry }} </h3></center>
                        <center><h4> Total Ministry  </h4></center>
                    </div>
                    <br>
                    <br>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="card-box bg-green">
                    <div class="inner">
                        <center><h3> {{ ministry_incharge }} </h3></center>
                        <center><h4> Total Ministry Incharge </h4></center>
                    </div>
                    <br>
                    <br>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="card-box bg-red">
                    <div class="inner">
                        <center><h3> {{ holder }} </h3></center>
                        <center> <h4> Total Holder </h4></center>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card-box bg-blue">
                    <div class="inner">
                        <center><h3> {{ tender }} </h3></center>
                        <center> <h4> Total Tender </h4></center>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

