{% extends 'government_employee/government_employee.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="modal-header">
     <h4 class="modal-title">Applied Tender Applicant Change Payment Status </h4>

  </div>
  <div class="modal-body ">

    {{ form|crispy }}
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Update</button>
  </div>
</form>
{% endblock content %}