{% extends 'Base/base.html' %}

{% block content %}
    <br>
    <h1>Tender List</h1>
    <form method="get">
       {{ MyFilter.form }}
       <button class="btn btn-primary" type="submit">Search</button>
    </form>
    <table class="table">
          <thead class="thead-light">
                <tr>
                  <th scope="col">S. No.</th>
                  <th scope="col">Tender Name </th>
                  <th scope="col">Username</th>
                  <th scope="col">Ministry Name</th>
                  <th scope="col">Publish Date</th>
                  <th scope="col">End Date</th>
                  <th scope="col">Extra Details In Pdf</th>
                  <th scope="col"> Details </th>
                  <th scope="col"> Apply Holder Short List </th>
                  <th scope="col"> Winner Holder </th>
                </tr>
          </thead>
          <tbody>
          {% for tender in tender %}
               <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>{{ tender.title }}</td>
                  <td>{{ tender.username }}</td>
                  <td>{{ tender.ministry_name }}</td>
                  <td>{{ tender.publish_date}}</td>
                  <td>{{ tender.end_date}}</td>
                  <td><a href="{{ tender.pdf.url }}" target="_blank">{{ tender.pdf }}</a></td>
                  <td><a href="{% url 'tender_upload_details' tender.id %}" class="btn btn-primary">Details</a></td>
                  <td><a href="{% url 'holder_list_of_holder_short_list' tender.id %}" class="btn btn-info">Apply Holder Short List</a></td>
                  <td><a href="{% url 'holder_list_of_holder_short_list' tender.id %}" class="btn btn-success">Winner Holder</a></td>
               </tr>
           {% endfor %}
          </tbody>
    </table>
{% endblock content %}